.navbar-brand {
    font-family: Quicksand;
  }
  
  .nav-link {
    font-family: Quicksand;
    color: black;
    font-weight: bold;
    font-size: 18px;
  }
  
  .landing-pg-offer {
    font-family: Quicksand;
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 2;
    flex-wrap: auto;
  }
  
  .about-us {
    font-family: Quicksand;
  }
  
  .about-us img {
    max-height: 300px;
  }
  
  #cta {
    font-family: quicksand;
  }
  
  .btn {
    background-color: #bb9f80;
    border: 1px darkmagenta solid;
    border-radius: 10px;
  }
  
  .alert {
    background-color: black;
    color: whitesmoke;
    font-family: Quicksand;
    border-radius: 0;
  }
  
  .choose-us-experience {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  .carousel-indicators .active {
    background-color: black;
  }
  
  .carousel-control-prev-icon {
    background-color: black;
  }
  
  .carousel-control-next-icon {
    background-color: black;
  }
  
  /* for devices larger than 480px  */
  @media screen and (min-width:480px) {
    #top-wrapper {
      position: relative;
    }
  
    #cta {
      display: flex;
      position: absolute;
      top: 30%;
      left: 50%;
      opacity: 0.7;
      border-radius: 25px;
      max-width: auto;
      flex-wrap: wrap;
    }
  
    .carousel-item img {
      max-height: 700px;
    }
  
  
  }
  
  /* index.html  */
  .getintouch,
  .subscribe {
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 400;
  }
  
  
  /* contactus.html  */
  /* <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/contacts/contact-1/assets/css/contact-1.css"> */